@import url('https://fonts.cdnfonts.com/css/satoshi');
@import "tailwindcss";

:root {
  --grey1: #D9D9D9;
  --grey1-10: #D9D9D91A; /* 10% opacity */



  font-family: 'Satoshi', 'Inter', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@theme{
  --color-grey1: var(--grey1);
  --color-grey1-10: var(--grey1-10);
}

@keyframes rotate {
  0% {
    transform: rotate(0deg) scale(10);
  }
  100% {
    transform: rotate(-360deg) scale(10);
  }
}

.animate-rotate {
  animation: rotate 2s linear infinite;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none; 
  scrollbar-width: none;   
}

:root {
  overflow: hidden;
}
